body{
    text-align: center;
    background-color: rgba(197, 225, 233, 0.301);
}

/* h4{
  text-align: left;
  float: left;
  
} */
.area{
  float: left;
} 
.category{
  float: left;
  /* display: block; */
}
.recipe{
    text-align: center;
    background-color: #f1f8f7;
     width: 500px;
     /* flex-direction: row; */
      display: inline-table;
      padding: 2rem;
      margin: 1.5rem;
      border-radius: 8px;
}
.recipe-image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    /* float: right; */
}

/* .cards{
    width: 20rem;
  } */
  
  .card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
  }
  
  