.searchform {
    text-align: center;
    margin: 0;
    border-radius: 10px;
    width: 50%;
    

}
   
  .searchform label, 
  .searchform input {
    color: #3dc6df;
    float: left;
    vertical-align: baseline;
  }
  
  .searchform label { 
    margin-top: 2.3rem;
  font-size: x-large; 
}
  
  .searchform input[type=search] {
    font: 1em/1.618 Open Sans, Arial, Sans-serif;
    border: .125em solid #3dc6df;
    border-width: 0 0 3px;
    background-color: transparent; 
    padding-top: 2.3rem;
  
  }
  
  .searchform input[type=search]:focus {
    border-color: #58e9fc;
    color: #9062fa;
    outline: 0;
  }
  
  @media only screen and (min-width: 48em) {
    .searchform input[type=search]{ width: 70%; }
  }


  /* FILTER CATEGORY & AREA */

.filter-select{
    border-radius: 25px;
    color:rgb(95, 227, 236);
    background-color: linear-gradient(90deg, #7b81ec, #3bd1d3);
    margin: 2em auto; 
    -webkit-appearance: none;
    border: 6px solid rgba(255,255,255,0.45);
    padding: 0.7em 2em;
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: padding-box;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin: 1.5rem;
}


.filter-info{
  display: flex;
  justify-content:space-around;
  padding: 0 10% ;
}

.label-search{
  display: inline;
  font-size:medium;
  font-weight: bold;
  color: #535b5c;
}